body {
    background-color: #fafafa;
    margin: 0;
}

#topBar {
    position: fixed;
    width:100%;
    border-bottom: thin solid #6c6c6c;
    height: 65px;
    background: #fafafa;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 2;
}

.button{
    display: block;
    float: right;
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
}

.lightTheme {
    text-decoration: none;
    background: #fafafa;
    color: #48007f;
    border: thin solid #48007f;
    width: 150px;
    height: 25px;
    text-align: center;
    font: 20px rockwell;
}

.lightTheme:hover {
    color: #970fff;
    border: thin solid #970fff;
}

.darkTheme{
    text-decoration: none;
    background: #48007f;
    color: #fafafa;
    border: thin solid #48007f;
    width: 150px;
    height: 25px;
    text-align: center;
    font: 20px rockwell;
}

.darkTheme:hover {
    background: #970fff;
    border: thin solid #970fff;
}

#logoTop {
    border: 0;
    background: url("assets/home_logo.png") no-repeat;
    background-size: 100% 100%;
    width: 240px;
    height: 35px;
    display: block;
    float: left;
    margin-top: 14px;
    margin-left: 15px;
}

#logoTop:hover {
    background: url("assets/home_logo_alt.png") no-repeat;
    background-size: 100% 100%;
    width: 240px;
    height: 35px;
}

.pane {
    left: 0;
    margin: 0;
    width: 100%;
}

div.page-parts > div:nth-child(2n + 1) {
    background: #d6d6d6;
}

div.page-parts > div:nth-child(2n + 0) {
    background: #fafafa;
}

#paneOne {
    height: 60vh;
}

#paneTwo {
    height: 60vh;
}

#paneThree {
    height: 60vh;
}

#slogan {
    display: block;
    font: 30px rockwell;
    text-align: center;
    top: 25px;
}

#buttons {
    margin-top: 2%;
}

.pageButton {
    cursor: pointer;
    width: 150px;
    height: 25px;
    text-align: center;
    font: 20px rockwell;
    float: right;
    color: #fafafa;
    border: thin solid #6c6c6c;
    position: relative;
}

#screenSocial {
    background: #ffc600;
    left: 76px;
}

#screenSocial:hover {
    background: #ffd74d;
}

#screenPlay {
    background: #00cc00;
    left: -76px;
    top: 54px;
}

#screenPlay:hover {
    background: #4dff4d;
}

#screenAbout {
    background:  #cc3300;
    left: 76px;
    top: 27px;
}

#screenAbout:hover {
    background: #ff794d;
}

#screenStart {
    background: #3333ff;
    left: -76px;
    top: 27px;
}

#screenStart:hover {
    background: #9999ff;
}
