body {
    background-color: #fafafa;
}

#topBar {
    position: fixed;
    width:100%;
    border-bottom: thin solid #6c6c6c;
    height: 65px;
    background: #fafafa;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 2;
}

.button{
    display: block;
}

.lightTheme {
    text-decoration: none;
    background: #fafafa;
    color: #48007f;
    border: thin solid #48007f;
    width: 150px;
    height: 25px;
    text-align: center;
    font: 20px rockwell;
}

.lightTheme:hover {
    color: #970fff;
    border: thin solid #970fff;
}

.darkTheme{
    text-decoration: none;
    background: #48007f;
    color: #fafafa;
    border: thin solid #48007f;
    width: 150px;
    height: 25px;
    text-align: center;
    font: 20px rockwell;
}

.darkTheme:hover {
    background: #970fff;
    border: thin solid #970fff;
}

#logoTop {
    position: absolute;
    border: 0;
    background: url("assets/home_logo.png") no-repeat;
    background-size: 100% 100%;
    top: 14px;
    left: 2%;
    width: 240px;
    height: 35px;
}

#logoTop:hover {
    background: url("assets/home_logo_alt.png") no-repeat;
    background-size: 100% 100%;
    width: 240px;
    height: 35px;
}

#startTop {
    position: absolute;
    top: 18px;
    left: 40%;
}

#playTop {
    position: absolute;
    top: 18px;
    left: 60%;
}

#aboutTop {
    position: absolute;
    top: 18px;
    left: 80%;
}

.pane {
    position: absolute;
    left: 0;
    margin: 0;
    width: 100%;
}

.greyTheme {
    background: #d6d6d6;
}

.whiteTheme {
    background: #fafafa;
}

#paneOne {
    top: 65px;
    height: 60%;
}

#paneTwo {
    top: calc(60% + 65px);
    height: 60%;
}

#paneThree {
    top: calc(120% + 65px);
    height: 60%;
}
